<!--
 * @Author: gitsrc
 * @Date: 2022-04-19 10:42:04
 * @LastEditors: gitsrc
 * @LastEditTime: 2022-04-19 17:43:44
 * @FilePath: /ztalab_private/ztalab_about/themes/SimpleIntro/layouts/partials/home.html
-->
<div>
  <div
    id="mainBG"
    style="background-image: url('{{ if $.Site.Params.mainbg }}{{ $.Site.Params.mainbg }}{{ else }}https://picsum.photos/1920/1080{{ end }}');"
  >
    <div
      class="wave wave1"
      style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
    ></div>
    <div
      class="wave wave2"
      style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
    ></div>
    <div
      class="wave wave3"
      style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
    ></div>
    <div
      class="wave wave4"
      style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
    ></div>
    <div class="centerAll">
      <div class="title text-6xl font-bold text-center">
        {{if  $.Site.Params.maintitle }}{{ $.Site.Params.maintitle }}{{else}}Hello, World{{end}}
      </div>
      <div class="text text-xl text-center">{{if $.Site.Params.maintext}}{{ $.Site.Params.maintext }}{{else}}Edit config.toml/params{{end}}</div>
    </div>
  </div>
  {{ $data := .Site.Data.home }}
  <main class="container mx-auto mt-8 px-4 xl:px-0">
  
    <section id="projects" class="mt-12">
      <div class="md:flex justify-center">
        {{ partial "home_title" (dict "title" "Team Member") }}
      </div>
      
      {{if $data.blogs.list}}
      <div
        class="mt-8 grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4"
      >
        {{ range $data.project.list }}
        <div class="w-full rounded overflow-hidden shadow-lg">
          <a href="{{ .url }}" target="_blank">
            <img
            class="w-full h-50"
            src="{{ .image }}"
            alt="Sunset in the mountains"
            />            
          </a>         
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{ .title }}</div>
            <p class="text-gray-700 text-base">
              {{ .text }}
            </p>
          </div>
        </div>
        {{end}}
      </div>
      {{else}}
          <div class="mt-4 text-xl text-center">Projects does not exist</div>
      {{end}}
    </section>

  </main>
</div>
